{%extends 'base.html'%}
{%block body_block%}

        <!-- maincontent starts-->
        <div class="main-content">

             <!-- postlist -->
             <div class="post-container" style="margin-top: 15px;">
                <div class="user-profile">
                    <img src="{{request.user.profile.profile_pic.url}}" alt="" style="height: 80px;">
                    <div>
                        <h2>{{user}}</h2>
                        <p>{{request.user.profile.bio}}  </p>
                        <p>{{request.user.profile.dateofbirh}}  </p>
                        <p>{{request.user.profile.place}}  </p>
                        <a href="{%url 'addprofile'%}"><i class="fa-solid fa-user-pen"></i></a>
                            {%if request.user.profile%}
                            <!-- <a href="{%url 'edit-profile' request.user.id%}">edit profile</a> -->

                            {%endif%}
                                <span>{{created_date}}</span>
                    </div>
                </div>
                
            </div>
        
        <!-- ends -->

        <!-- list post -->
            <div class="main-content" style="width: 540px; margin-top: 25px;">
                {%for p in posts%}
                <div class="" style="margin-top: 25px;">
                    <!-- Post preview-->
                    <div class="post-preview">
                        
                            <h2 class="post-title">{{p.title}}</h2>
                        
                        <p class="">
                            <i class="fa-solid fa-user"></i>
                            {{p.user}}
                            <i class="fa-solid fa-calendar-days"></i> {{p.created_date}}
                        </p>
                        {%if p.image%}
                        <div>
                            <img src="{{p.image.url}}" alt="" class="w-100">
                            <a href="{%url 'post-delete' p.id%}"><button class="btn btn-outline-danger mt-2"><i class="fa-solid fa-trash"></i></button></a>
                        </div>
                        {%endif%}
                    </div>
                </div>
           


                <!-- addlike -->


                <div class="mt-2">
                    <a href="{%url 'like-post' p.id %}" class="btn btn-warning btn-sm"><i
                            class="fa-regular fa-heart"></i></a>
                    
                    {{p.likes}} <i class="fa-solid fa-heart"></i> {{user}} & others
                    
                   
                </div>

                <hr class="my-4" />
                <!-- endlike -->
                <!-- cmnt list -->
              
                <div class="accordion" id="accordionExample" ">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="background-color: #d8d7d7;">
                          Comments
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {%for cmnts in p.comment%}
                            <div class="row">
                                <div class="col-6">
                                    <p class="post-meta">
                                        <div class=" fw-bold">{{cmnts.comment}}</div>
                                        <div class="fw-light"> <i class="fa-solid fa-user"></i><a href="#!"> {{p.user}}</a>
                                         <i class="fa-solid fa-calendar-days"></i> {{p.created_date}}</div>
                                         
                                     </p>
                                     
                                </div>
                                <div class="col-3">
                                </div>
                                <div class="col-3">
                                   <a href="{%url 'comment-delete' cmnts.id%}"><button class="btn btn-outline-danger" style="margin-top: 30%;margin-bottom: 10px; border-radius: 50%;"><i class="fa-solid fa-trash"></i></button></a> 
                                </div>
                            </div>
                            {%endfor%}
                            <!-- endlist -->
                            <!-- cmnt -->
                            <div>
                                <form action="{%url 'add_comment' p.id %}" method="post">
                                    {%csrf_token%}
                                    <input type="text" placeholder="Add comment" name="comment" class="form-control">
                                    <button type="submit" class="btn btn-outline-success mt-2">+</button>
                                </form>
                            </div>
                <hr class="my-4" />
                {%endfor%}
            </div>
            </div>
     </div>

     {%endblock%}